$dark-green: hsl(177, 30%, 15%);
$off-white: hsl(96, 7%, 86%);
$white: hsl(120, 13%, 95%);
$red: hsl(9, 60%, 43%);
$hover-red: hsl(21, 50%, 73%);
$yellow: hsl(49, 80%, 52%);
$green-hover: hsl(127, 13%, 80%);
