/* font-family: 'Lora', serif; */
/* ~~~~~~~~~~ BASIC ELEMENTS ~~~~~~~~~~~~ */
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  color: #1B3231;
  background-color: #DCDFDA;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

main {
  height: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background: #1B3231;
  color: #DCDFDA;
}

button {
  margin: 13px;
  height: 31px;
  width: 120px;
  border-radius: 50px;
  border: none;
  background: #F2F5F2;
  color: #1b3231;
  padding: 8px;
}

button:hover {
  background: #FCE49E;
  color: #1B3231;
  cursor: pointer;
}

h1 {
  margin: 12px;
}

h2 {
  padding: 12px;
  margin: 0;
}

.filters {
  margin: 12px;
}

.nav-div {
 align-items: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  margin: 18px;
  border: 1px solid #1B3231;
}

.recipes-section {
  width: 90%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
}

.input {
  border: none;
  margin: 13px;
  height: 30px;
  width: 200px;
}

.flex-row {
  display: flex;
}

.main-view-container {
  height: 100%;
}

.single-filter {
  margin: 5px 0 5px 0;
}

/* ~~~~~~~~~~ INDIVIDUAL RECIPE VIEW ~~~~~~~~~~ */
.individual-recipe-container {
  height:100%;
  min-width: 100%;
}

.selected-recipe-photo {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.recipe-header {
  justify-content: space-between;
}

.ingredients-cost {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 12px;
}

.instructions {
  width: 70%;
}

.recipe-details {
  min-width: 100%;
}

/* ~~~~~~~~~~ RECIPE CARD SECTION ~~~~~~~~~~~~ */
.recipe-card {
  /* border: 2px solid #1B3231; */
  border: 2px solid #F2F5F2;
  height: 300px;
  width: 273px;
  margin: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-card-image {
  width: 275px;
}

.favorite-button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.favorite-button:hover {
  cursor: pointer;
  background: #DDB199;
}

.recipe-card-name {
  text-align: center;
  padding: 0, 8px, 8px, 8px;
}

/* ~~~~~~~~~~ HIDDEN ~~~~~~~~~~~~ */
.hidden {
  display: none;
}
